<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FormatDB.OKTMOColumns" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="FormatDB.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <FormatDB.OKTMOColumns>
      <setting name="Subject" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="Region" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="Settlement" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="NearCity" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="TypeOfNearCity" serializeAs="String">
        <value>8</value>
      </setting>
    </FormatDB.OKTMOColumns>
    <FormatDB.Properties.Settings>
      <setting name="OKTMOWorkbookPath" serializeAs="String">
        <value>D:\ОКТМО-2014_final_my.xlsx</value>
      </setting>
      <setting name="CatalogWorkbookPath" serializeAs="String">
        <value>D:\Справочники-2014_new.xlsx</value>
      </setting>
      <setting name="SourceListBySubjectWorkbookPath" serializeAs="String">
        <value>D:\Справочники-2014_new.xlsx</value>
      </setting>
      <setting name="VGTWorkbookPath" serializeAs="String">
        <value>D:\VGT.xlsx</value>
      </setting>
      <setting name="OKTMOWorksheetName" serializeAs="String">
        <value>нас.пункты РФ</value>
      </setting>
      <setting name="CatalogWorksheetName" serializeAs="String">
        <value>analytics</value>
      </setting>
      <setting name="SubjectSourceWorksheetName" serializeAs="String">
        <value>Список источников по регионам</value>
      </setting>
      <setting name="VGTWorksheetName" serializeAs="String">
        <value />
      </setting>
    </FormatDB.Properties.Settings>
  </userSettings>
  <appSettings>
    <add key="addComments" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SQLite" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6, Version=1.0.97.0, Culture=neutral, PublicKeyToken=db937bc2d44ff139" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".Net Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <add name="TWBsContext" connectionString="data source=.\base.db" providerName="System.Data.SQLite.EF6" />
  </connectionStrings>
</configuration>